/* ------------------------------------------------------------------------- */
/* ITW 2021/2022 Grupo 66                                                    */
/* Filipe Dávila Fernandes, Nº 55981, PL26                                   */
/* Rita Rodrigues, Nº 54859, PL26                                            */
/* ------------------------------------------------------------------------- */

:root {

    --game_button_reset_background_image:url("../img/smile64px.png");

    --game_cell_explosion_effect1:url("../img/mine24px.png");
    --game_menu_background_image_Active:url("../img/explosion24px.png");
    --game_cells_flag_image: url("../img/portugal24px.png");
    --game_cells_question_image:url("../img/question24px.png");
}

/*--------------  Ranking TOP 10 Box window ----------*/

.rankingWindow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding:20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-bottom: 20px;
    width: 80vw;
}

.gameResult{
    width: 100%;
    order:0;
    text-align: center;
    background-color: var(--ranking_th_background_color);
    color: #ffffff;
    font-size: 8vw;
    height: auto;
}
.gameResult span{
    font-size: 10vw;
}

.optionRanking{
    width: 80%;
    order:4;
    display: flex;
    justify-content:space-evenly;
    flex-direction: row;
}
.optionRanking button{
    padding: 2vw;


}








select{
    align-self: center;
    font-size: 8vw;
    width: 90vw;

}

option{
font-size: small;
    width: auto;

}

.optionEstatistica{
    width: auto;
    font-size: small;
}


.right{
    display: flex;
    justify-content: end;

}
.user{
    display: flex;
    justify-self: right;
}
#username {
    padding-right: 2vw;
    font-size: 10vw;
    color: white;
}
.profile {
    width: 10vw;
    height: 10vw;
    padding: 0;
    background-image: url("../img/profile.png");
}

#rankingBox{
 order:0;

    min-width: 80vw;
    width: fit-content;
}

.loginTittle span{
    font-size: 8vw;
}
#player1, #player2{
    font-size: 8vw;


}
.MpPlayerName{
    font-size: 8vw;
}
.login {
    margin: 3vw;
align-self: center;
}
.titleTypeOfRanking{
    font-size: 8vw;
}
#frmLogin{
    align-self: center;
    width: 90vw;
    order: 0;

    padding-bottom: 2vh;
}
#frmLogin input {
    height: 10vw;
    font-size: 9vw;
}
#frmLogin span {
    font-size: 12vw;
}
#frmLogin label,#frmLogin button {
    font-size: 8vw;
}

article, main{
    overflow: scroll;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 45vh;
    height: fit-content;
    width: 100vw;
}
article td,article th{
    font-size:4vw ;
}

nav{
    width: 100vw;
    order: 0;
    display: flex;
    flex-direction: column;


}


article h1, article h2{
    font-size: 10vw;
}
/* Menu principal Grid position */
nav ul {


display: flex;
    flex-direction: column;



}

/* Menu principal Grid position */
nav li {
    height: fit-content;
    font-size: 10vw;
}


.caixa{
    order:1;
    padding: 0;
    margin:0;
    width: 100vw;
    display: none;
}

/* Menu Escolha de tipo de jogo Grid position */
.modos_jogo{

    order:1;
    width: 100vw;
    padding: 0;
    margin: 0;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;




}

/* ######## Escolha Tipo de Jogo  ################# */

/* Botão Mina */

.mine{

    font-size: 7vw;
    background-size:contain;

    background-origin: padding-box;
    box-shadow: inset hsla(0,0%,15%,  1) 0  0px 0px 1px, /* border */
    inset hsla(0,0%,15%, .8) 0 -1px 5px 2px, /* soft SD */
    inset hsla(0,0%,0%, .25) 0 -1px 0px 3px, /* bottom SD */
    inset hsla(0,0%,100%,.7) 0  2px 1px 3px, /* top HL */

    hsla(0,0%, 0%,.15) 0 -2px 3px 2px, /* outer SD */
    hsla(0,0%,100%,.5) 0  2px 3px 2px; /* outer HL */
}


.mine:active {
    background-image: url("../img/explosion.png");
    background-repeat: no-repeat;
    transform: scale(0.99);
    background-origin: content-box;
    opacity: 0.8;
    font-size: 7vw;
    background-size:contain;

    background-origin: padding-box;
    display: flex;
    justify-content: space-around;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.9);



}

.gamelabel {
    font-size: larger;
}
/* Tamanho de Celulas do Jogo */
.celula{
    box-shadow: inset 0.2em 0.2em 0.2em 0 rgba(255,255,255,0.5), inset -0.2em -0.2em 0.2em 0 rgba(0,0,0,0.5);
    width: 8vw;
    height: 8vw;
}
.openedCell{
    width: 8vw;
    height: 8vw;
}


/* -------------------------------------------------------------------------------------

--------------------- Css Responsividade JOGO -----------------

-----------------------------------------------------------------------------------*/


/* ----- Escolha difficuldade do jogo -----------*/
#formGameTypeSp{
 width: 90vw;

}
#formGameTypeSp span{
    font-size: 10vw;

}
radioDifficultyGame{
    display: flex;
    flex-direction: row;
    width: fit-content;
}
.radioDifficultyGame label{
    font-size: 7vw;
}

input[type=radio] {
    border: 0px;
    width: 100%;
    height: 2em;
}

/* Caixa que contem o Jogo SinglePlayer Posição em grid  */
.gridGame {
    box-shadow: inset 0.2em 0.2em 0.2em 0 rgba(255,255,255,0.5), inset -0.2em -0.2em 0.2em 0 rgba(0,0,0,0.5);
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    padding: 4vw;
    margin: 10px auto;
}

.menu_jogo{

    display: flex;
    flex-direction: row;
    justify-content: center;


}
.display_info_label{

    padding: 1vw;

}
.gameDisplayInfo {
    font-size: 6vw;

}
.mute{
    width: 8vh;
    height: 8vh;


}

.time {
    order: 0;


}

.divPoints{
 order:0;

}
.buttonStart{
      order:1;
    width: 5vh;
    height: 5vh;
    padding: 2vw;
    margin: 2vw;
    box-shadow: inset 0.2em 0.2em 0.2em 0 rgba(255,255,255,0.5), inset -0.2em -0.2em 0.2em 0 rgba(0,0,0,0.5);
      background-color: lightgray;
    background-origin: padding-box;
      background-size:contain;

  }
.divTime{

    order:3

}
.divWin{
    order:1;
}
.divMute{
    display: flex;
    order:2;
}
.mute{
    width: 8vw;
    height: 8vw;


}
.soundOn{
    width: 8vw;
    height: 8vw;


}
.divBombs{
    order:2;
}
.bombCell {
    background-size: cover;
}

.points{
    order: 2;
    margin-left: 10vh;

    margin-bottom: 5px;


    font-size: 6vh;
}
.gameStatus{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;



}
.downbar {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;


    width: 100%;



}
.trophy{
    order:0;
    padding: 4vh;
    margin: 0;
}
.win{
    order: 1;
    height: 6vw;
    font-size: 5vw;
}


.numberBombs {
font-size: large;
}




/*  ---------------##################   custom Game SinglePlayer  ##############-------------------------------- */
.customContainer {
    grid-column-start:1 ;
    grid-column-end:2 ;
    grid-row-start: 2;
    display: flex;

    align-content: center;

}
.customContainer table {
    font-size: large;
    border-spacing:5vh;
    margin:8px;
}
.customContainer td{

    font-family: 'Ubuntu Condensed', sans-serif;

}
/* ----------------- Tutorial ---------------------*/

.tutorial{

    justify-content: center;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
    width: fit-content;
    grid-row-start: 2;
    margin: 0 auto;




}


.regras{
    justify-content: center;
    text-align: justify;

    width: fit-content;
    padding: 20px;
    margin: 0 auto;
    grid-row-start: 2;



    grid-row-start: 3;

}
.tutorial h1 ,.regras h1{
    font-size: 6vh;
    width: fit-content;

}

.tutorial h2, .regras h2  {
    font-size: 5vh;
    width: fit-content;
}

.tutorial p,.regras p,.regras h3,.tutorial li,.tutorial h3, .regras td,.regras th{
    width: fit-content;
    font-size: 4vh;
}

iframe{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 20px;
    width: 70vw;
    height: 60vw;
}

.videoTutorial{
    margin: 0 auto;
    width: 100%;

    height: 100%;



}
.tableregras {
    display: flex;
    justify-self: center;
    align-self: center;

}

/**  Registro de Utilizadores */
#frmRegisto{
width: 100vw;
}

#frmRegisto input{
    height: 5vh;
    font-size: 4vh;
}
#frmRegisto label{
    text-align: left;
    font-size: 4vh;


}
#frmRegisto option{
    text-align: center;



}


/* ----------------- Ranking ---------------------*/


.ranking{

    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100%;
    width: 100%;
}

.ranking th {
    font-size: larger;
}


.ranking td {
    font-size: 6vw;
}

.title{
    text-align: center;

    grid-row-start:1;

    width: 100%;

}


/* ----------------- Quem Somos ---------------------*/
.container h2{
    font-size: 6vw;

}

.perfilContainer{

    display: flex;
    flex-direction: column;



}
.headingTutorial span{
    font-size: 7vw;

}
.perfilContainer p {
    font-size: 7vw;
    text-align: center;
    font-family:"Ubuntu Condensed";
}



.wrapperCard{
    align-self: center;
    padding:20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-bottom: 20px;
    width: 80vw;



}
.perfil{

    display: flex;
    justify-content: space-around;
    width: 100%;

}

.perfil img{


   width: 60vw;


}
.descricão{

    text-align: center;
    width: 100%;

}
.textoContainer p{
    font-size: 6vw;

    text-align: justify;
}
.textoContainer{

    margin: 0 auto;
    padding: 0;
    justify-self: center;

    width: 90vw;

    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start:4;


}

/* Perfil do utilizador*/

.wrapperCard li{
    font-size:7vw;

}
.wrapperCard h3{
    font-size:9vw;

}
.wrapperCard span{
    font-size:6vw;

}
article button, main button{
    justify-items: right;
    font-size: 8vw;
    width: fit-content;
}
.logoutButton{

    display: flex;
    justify-content: right;
}

/* Local na grid para o footer */

footer{
    order:6;
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    z-index: 1;
    min-height: auto;

    width: 100vw;

}
footer p{
    font-size:8vw;
}
